#master-form.profile-page.profile-form
  .row-fluid.gray-bg
    .container

  .container.main
    .content-block
      .head-part
        %h2.profile-title New Notification
      .profile-info-box
        = render :partial => "form"

