<tr>
  <td style="font-family: Arial,serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    text-align: center;
    color: #646464;">
    <span>
      <%= @vacation.employee.full_name %> takes a sick leave <%= @vacation.time_range_to_s %>.
      <br>
      Please note and plan accordingly.
    </span>
  </td>
</tr>
