<tr>
  <td style="font-family: Arial,serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    text-align: justify;
    color: #646464;">
    <span>
      Hi!
      <br>
      This is a reminder, that <%= @vacation.employee.full_name %>
      will be off work <%= @vacation.time_range_to_s %>.
    </span>
  </td>
</tr>
