<tr>
  <td>
    <span style="font-family: Arial,serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0;
      text-align: justify;
      color: #646464;
      width: fit-content;
      margin: 0 auto;
      display: block">
      Hi!
      <br>
      This letter is to inform you, that
      <br>
      <%= @vacation.employee.full_name %>
      <br>
      has requested the Time Off <%= @vacation.time_range_to_s %>.
      <br>
      Please note and plan accordingly.
    </span>
  </td>
</tr>

