<tr>
  <td width="20"></td>
  <td>
      <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
          Привет! Завтра будет менеджерский митинг, актуализируй загрузку мастеров до 18:00. Спасибо!
      </span>
  </td>
  <td width="20"></td>
</tr>
