<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      Аккаунти, доступи та паролі готові для нового майстра <%= @user.full_name %>. Будь ласка, ознайомся.
    </span>
  </td>
  <td width="20"></td>
</tr>

<tr><td height="35" colspan="3"></td></tr>

<tr>
  <td width="20"></td>
  <td align="center">
    <%= link_to "Переглянути дані", account_user_url(@user), edit_admin_interview_url(@feedback.interview), {:style=>"color:#ef4934; font:18px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block; text-decoration: none"} %>
  </td>
  <td width="20"></td>
</tr>
