<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
     Привіт! <br>
      Даним листом надсилаємо тестове завдання для визначення рівня технічної підготовки.
      Насамперед, ми оцінюємо якість, а не швидкість, тому чітких термінів не встановлюємо.
    </span>
  </td>
  <td width="20"></td>
</tr>

<tr><td height="35" colspan="3"></td></tr>

<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      Бажаємо успішного виконання!
    </span>
  </td>
  <td width="20"></td>
</tr>

<tr><td height="35" colspan="3"></td></tr>

<tr>
  <td width="20"></td>
  <td align="center">
    <%= link_to "Завдання", @host, {:style=>"color:#ef4934; font:18px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block; text-decoration: none"} %>
  </td>
  <td width="20"></td>
</tr>
