<tr style="text-align: center;">
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none;">
      Dear Master, <br>
      It seems that you haven't logged some of your working time in Jira this week. <br>
      Please consider logging the missing hours in Jira tasks of your project(s). <br>
    </span>
  </td>
  <td width="20"></td>
</tr>
