<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      Привет! Всего в MOC маленьких мастеров: <%= @total_amount_of_children %>.
    </span>
  </td>
  <td width="20"></td>
</tr>

<tr><td height="15" colspan="3"></td></tr>

<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      Подробная информация:
      <br/>
      <% @users.each do |u| %>
        <p><%= "#{u.full_name} - #{u.relationship.amount_of_children}. Комментарии: #{u.relationship.comments}" %></p>
      <% end %>
    </span>
  </td>
  <td width="20"></td>
</tr>
