<tr style="text-align: left;">
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none;">
      Dear Master.<br>
      You have <b> <%= @master.vacation_days_past_year %> </b> <%= "vacation days from #{Date.today.year - 1}." %><br>
      <%= "We would like to remind that they will be cut as of 1 January #{Date.today.year + 1}." %><br>
      <%= "We encourage and ask to use the above mentioned days by the end of #{Date.today.year} at the maximum."%><br>
      So please, plan your time, agree with your team and manager, and have rest.<br>
      If you have any questions, contact Alina Shyrenko.
    </span>
  </td>
  <td width="20"></td>
</tr>
