<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
    Привіт!
    Вітаємо тебе з вдалим проходженням всіх етапів відбору та успішним його завершенням! <br>
    Ми запрошуємо тебе в команду наших Майстрів на позицію <%= @user.position %>. <br>
    Відтепер ти маєш можливість стати частиною Master's Community.</span>
  </td>
  <td width="20"></td>
</tr>

<tr><td height="35" colspan="3"></td></tr>

<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      Готові вітати тебе <%= @user.hired_at.strftime("%d.%m.%Y о %H:%M") %> за адресою вул. Кривалівська,7.
      Візьми з собою змінне взуття, паспорт та код. Речами, необхідними для комфортного перебування в офісі, ми тебе забезпечимо.
    </span>
  </td>
  <td width="20"></td>
</tr>
