<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      Привет! Сегодня День Рождения у <%= @users.map(&:full_name).join(', ') %>
    </span>
  </td>
  <td width="20"></td>
</tr>
