<tr style="text-align: center;">
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none;">
      <% if @vacation.sick? %>
        <%= @vacation.employee.full_name %> takes a sick leave <%= @vacation.time_range_to_s %>.<br>
        Please note and plan accordingly.
      <% else %>
          <%= @vacation.employee.full_name %> will be off work <%= @vacation.time_range_to_s %>.
      <% end %>
    </span>
  </td>
  <td width="20"></td>
</tr>
