<tr>
  <td width="20"></td>
  <td>
      <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
          Мастер <%= link_to @user.full_name, admin_employee_url(@user) %> последний раз был на one-on-one встрече 6 месяцев назад.
        </span>
    </td>
    <td width="20"></td>
</tr>
