<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      Доброго дня!
    </span>
  </td>
  <td width="20"></td>
</tr>

<tr><td height="35" colspan="3"></td></tr>

<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      Ми перевірили виконання тестового завдання. Наш технічний спеціаліст позначив припущені помилки та залишив свої зауваження. Зверни, будь ласка, на них увагу.    </span>
  </td>
  <td width="20"></td>
</tr>

<tr><td height="35" colspan="3"></td></tr>

<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      Запрошуємо тебе на проходження інтерв'ю <%= @interview.date.strftime("%d.%m.%Y о %H:%M") %> за адресою: вул. Кривалівська, 7. Контактна особа - Альона (моб. 093 900 55 97)
    </span>
  </td>
  <td width="20"></td>
</tr>

<tr><td height="35" colspan="3"></td></tr>

<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      У разі виникнення питань звертайся за електронною адресою: hr@masterofcode.com.
    </span>
  </td>
  <td width="20"></td>
</tr>
