<tr>
  <td width="15"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      Hi <%= @overtime.employee.full_name %>,<br>
      Your requested Overtime has been approved.<br>
      The Project Managers are aware of your <%= @overtime.hours %>hr Overtime on <%= @overtime.date %>, and approved it.<br>
    </span>
  </td>
  <td width="15"></td>
</tr>
