<tr>
  <td width="15"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      Hi <%= @vacation.employee.full_name %>,<br>
      Your requested time off has been approved.<br>
      The Project Managers are aware of your time off <%= @vacation.time_range_to_s %>, and approved it.<br>
      Have a good one!
    </span>
  </td>
  <td width="15"></td>
</tr>
