<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      Привіт! Интерв'ю з <%= link_to @interview.user.full_name, admin_employee_url(@interview.user) %> відбудеться <%= @interview.date.strftime("%d.%m.%Y о %H:%M") %>.
    </span>
  </td>
  <td width="20"></td>
</tr>
