<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      <%= link_to @vacation.employee.full_name, admin_employee_url(@vacation.employee) %> requests time off <%= @vacation.time_range_to_s %>.<br>
      <% if @vacation.notes.present? %>
        Additional info: <%= @vacation.notes %><br>
      <% end %>
    </span>
  </td>
  <td width="20"></td>
</tr>