<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      <%= @description %>
      <%= image_tag(image_url(@image_url)) if @image_url.present? %>
    </span>
  </td>
  <td width="20"></td>
</tr>