<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      Hi <%= @overtime.employee.full_name %>,<br>
      We are sad to inform that your <%= @overtime.hours %>hr requested Overtime on <%= @overtime.date %> has been dismissed.<br>
      The Project Managers have strong arguments for your requested overtime on this day.
      Please contact your Project Managers for more details.
    </span>
  </td>
  <td width="20"></td>
</tr>
