<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      Dear master,
    </span>
  </td>
  <td width="20"></td>
</tr>

<tr>
  <td height="35" colspan="3"></td>
</tr>

<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      It is a test message
    </span>
    <br>
    <a href="<%= apr_feedbacks_url(params: { master: true, tab: 'request' }, host: masters_url_host) %>" target="_blank" rel="noopener" style="color: #FD5D32; text-decoration: none;">Fill in the form for all Masters listed in your cabinet in MastersModule</a>
    <br>
  </td>
  <td width="20"></td>
</tr>


