<tr>
  <td width="20"></td>
  <td>
    <span mc:edit="content_1" style="color:#646464; font:16px Arial, sans-serif; line-height: 26px; -webkit-text-size-adjust:none; display:block;">
      Майстер <%= link_to @user.full_name, admin_employee_url(@user) %> став частиною нашої спільноти <%= @user.hired_at.strftime("%d.%m.%Y") %>, його тріальний термін завершується.
    </span>
  </td>
  <td width="20"></td>
</tr>
