%li.mm-profile-form__item
  = f.label :left_comment, class: "profile-edit-form-label"
  .profile-form__item-input-wrap
    .custom-textarea
      = f.text_area :left_comment, :class => 'text_field profile-form__textarea profile-form__textarea--custom'