#master-form.profile-page.profile-form.main-page
  .content-container
    .container.main
      .content-block
        .row-fluid
          .container
            .mm-btn-back-wrapper
              = link_to 'Back', admin_employee_path(@user), :class => 'mm-btn-back__link'
        .head-part.head-part-edit
          %h2.profile-title.no-margin Edit Master
        .profile-info-box.profile-info-box--edit{id: @user.id}
          = render :partial => "form"
