<tr>
  <td style="font-family: Arial,serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0;
      text-align: center;
      color: #646464;">
    <span>
      Dear <%= @user.first_name %>.
      <br>
      <br>
      It's high time to complete your Self Assessment form by evaluating yourself through the prism of key performance factors.
      <br>
      <br>
      Please, fill in the Self Assessment form in MastersModule within 3 (three) days.
      <br>
      <br>
      If you have any questions or comments, feel free to contact your People Partner.
      <br>
      <br>
      <br>
      Thank you!
    </span>
  </td>
</tr>
