<tr>
  <td height="45" colspan="3" align="center">
    <span mc:edit="content_1" style="color:#646464; font-size:16px; font-family: Arial, sans-serif; font-weight: 400; line-height: 18px; -webkit-text-size-adjust:none;">
      Dear <%= @user.first_name %>,
      <br>
      <br>
      <a href="<%= apr_feedbacks_url(params: { master: true, tab: 'self' }, host: masters_url_host) %>" target="_blank" rel="noopener" style="color:#FD5D32; text-decoration: none">This is a kind reminder to complete Self Assessment in MastersModule <strong>by end of the day today</strong></a>.
      <br>
      <br>
      If you have questions or any comments - feel free to address your People Partner.
      <br>
      <br>
      <br>
      Enjoy your day!
    </span>
  </td>
</tr>
