.main.main-page
  .content-container.content-container-vacations
    .vacations
      .top-row
        %section.all-masters-wrapper
          %h2.title
            Time Off to Approve
      %div#vacation_list
        = render :partial => "vacation_list"
