%li{class: "#{'active' if page.current?}"}
  = link_to page, page.current? ? '#' : url, { :remote => url.scan('search').empty? ? remote : true, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil}
