<p>Hello <%= @resource.email %>!</p>

<p>You was checked as employee who has access to Hr Module please change your password</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
